/node_modules
/public/hot
/public/storage
/public/thumbnail_list/*.JPG
/public/*.mp4
/public/video_sample/*.mp4
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log

